@{
    ViewData["Title"] = "Home Page";
}


<div class="bg-body-tertiary">
        
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
            <div class="col">
                <img src="~/img/banner1.png" style="width: 600px; height: 450px;">
            </div>
            <div class="col">
                <h1>Accuracy, compassion and innovation</h1>
                <p style="font-size:larger">
                    At Beacon Radiology, we specialise in accurate and compassionate radiology services. Our experienced team and
                    advanced technology ensure precise diagnosis and personalised care. Trust us with your health and experience
                    the difference today!
                </p>
                <a class="icon-link">
                    Book an appointment now
                    <svg class="bi">
                        <use xlink:href="#chevron-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    
    <h1 style="text-align:center;">Our services</h1>
    <p style="text-align:center; font-size:larger">
        At our radiology practice, we are driven by a commitment to accuracy, compassion and innovation, <br />ensuring that each patient
        receives exceptional care and precise diagnostic results.
    </p>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3" style="text-align:center">
        <div class="col">
            <img src="~/img/generalxrays.png" style="width: 400px; height: 300px;">
            <h4>General X-rays</h4>
        </div>
        <div class="col">
            <img src="~/img/ct.png" style="width: 400px; height: 300px;">
            <h4>CT</h4>
        </div>
        <div class="col">
            <img src="~/img/mri.png" style="width: 400px; height: 300px;">
            <h4>MRI</h4>
        </div>
    </div>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3" style="text-align:center">
        <div class="col">
            <img src="~/img/ultrasound.png" style="width: 400px; height: 300px;">
            <h4>Ultrasound</h4>
        </div>
        <div class="col">
            <img src="~/img/dentalxray.png" style="width: 400px; height: 300px;">
            <h4>Dental X-rays</h4>
        </div>
        <div class="col">
            <img src="~/img/womensimaging.png" style="width: 400px; height: 300px;">
            <h4>Women's Imaging</h4>
        </div>
    </div>
        
        
</div>
